fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-dotenv
groq
cerebras-cloud-sdk
chromadb
httpx
python-multipart
deepgram-sdk
openai
livekit
livekit-agents[deepgram,openai,silero,sarvam]
